.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__cglib_cglib_3_1.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__cglib_cglib_nodep_2_1_3.xml
.idea/libraries/Maven__com_google_android_android_4_1_1_4.xml
.idea/libraries/Maven__com_google_guava_guava_13_0_1.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/libraries/Maven__com_sun_el_el_ri_1_0.xml
.idea/libraries/Maven__com_sun_faces_jsf_impl_2_2_5.xml
.idea/libraries/Maven__com_sun_faces_jsf_api_2_2_5.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_6.xml
.idea/libraries/Maven__commons_io_commons_io_2_2.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__javax_activation_activation_1_1.xml
.idea/libraries/Maven__javax_inject_javax_inject_1.xml
.idea/libraries/Maven__javax_mail_mail_1_4_3.xml
.idea/libraries/Maven__javax_servlet_jsp_jsp_api_2_2_1_b03.xml
.idea/libraries/Maven__javax_servlet_jstl_1_2.xml
.idea/libraries/Maven__javax_servlet_servlet_api_3_0_alpha_1.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_28.xml
.idea/libraries/Maven__net_java_dev_jna_jna_3_4_0.xml
.idea/libraries/Maven__net_java_dev_jna_platform_3_4_0.xml
.idea/libraries/Maven__net_sourceforge_cssparser_cssparser_0_9_5.xml
.idea/libraries/Maven__org_apache_commons_commons_exec_1_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_0_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_3.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_4_0_1_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_4_2_1_Final.xml
.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_0_api_1_0_1_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_15_0_GA.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_1_0_GA.xml
.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_1_spec_1_0_1_Final.xml
.idea/libraries/Maven__org_json_json_20080701.xml
.idea/libraries/Maven__org_khronos_opengl_api_gl1_1_android_2_1_r1.xml
.idea/libraries/Maven__org_ow2_asm_asm_4_2.xml
.idea/libraries/Maven__org_primefaces_primefaces_4_0.xml
.idea/libraries/Maven__org_richfaces_core_richfaces_core_api_4_3_5_Final.xml
.idea/libraries/Maven__org_richfaces_core_richfaces_core_impl_4_3_5_Final.xml
.idea/libraries/Maven__org_richfaces_ui_richfaces_components_api_4_3_5_Final.xml
.idea/libraries/Maven__org_richfaces_ui_richfaces_components_ui_4_3_5_Final.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_api_2_39_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_chrome_driver_2_39_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_firefox_driver_2_39_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_remote_driver_2_39_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_support_2_39_0.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_0_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_0_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_0_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_support_3_1_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_0_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_0_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_0_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_0_1_RELEASE.xml
.idea/libraries/Maven__org_w3c_css_sac_1_3.xml
.idea/libraries/Maven__xerces_xmlParserAPIs_2_6_2.xml
.idea/libraries/Maven__xpp3_xpp3_1_1_4c.xml
*.war
*.class
*.js
*.png
*.xhtml
*.jar
*.xml
*.jpg
target/JavaServerFaces/resources/css/styles.css
.idea/workspace.xml
.idea/artifacts/StrategoWebApp_war_exploded.xml
.idea/workspace.xml